* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #3918f5;
  border-bottom: 1px solid #e5e5e5;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fbf8f8;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
}

.nav a:hover {
  color: #000;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 26px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

 .product-card {
      width: 280px;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transition: 0.3s;
    }

    .product-card:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    }

    .product-image img {
      width: 100%;
      display: block;
    }

    .product-info {
      padding: 16px;
    }

    .product-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #333;
    }

    .product-price {
      font-size: 20px;
      font-weight: bold;
      color: #e63946;
      margin-bottom: 10px;
    }

    .product-rating {
      margin-bottom: 12px;
      color: #ffb703;
      font-size: 16px;
    }

    .btn {
      display: block;
      width: 110px;
      padding: 10px;
      background: #2196f3;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
      margin-top: 5px;
    }

    .btn:hover {
      background: #0b79d0;
    }

    .grid{
      margin-left: 20px;
      padding: 20px;
  display:flex ;
    flex-wrap: wrap;
  gap: 30px;
align-items: center;
justify-content: center;}

.btn-disable{
   display: block;
      width: 50%;
      padding: 10px;
     
      color: #fff;
      text-align: center;
      border-radius: 6px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
      margin-top: 5px;
  background-color: rgb(239, 26, 26);
}
.cart-container{

  padding-top: 20px;
  max-width: 1170px;
margin: auto;
background-color: antiquewhite;
padding: 20px;
border-radius: 15px;
box-shadow: 0px 4px 10px black;
margin-top: 30px;
margin-bottom: 100px;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  font-weight: bold;
  font-size: 20px;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
.item-info{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 30px;
}
.item-actions{
  font-size: 30px;
  font-weight: bold;

}
.cart-item img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-footer{
  font-size: 30px;
  font-weight: bolder;
  text-align: right;
  padding-top: 10px;
}